<div *ngIf="displayType() === 'link'">
    <a [routerLink]="['/resource', displayData.database, displayData.table, displayData.pk1]"
        [queryParams]="displayData.page?{page: displayData.page} : null">{{displayData.pk1}}</a>
</div>
<div *ngIf="displayType() === 'img'">
    <img [src]="displayData.img" [style.width]="displayData.width" [style.height]="displayData.height">
</div>
<div *ngIf="displayType() === 'string'">
    <a *ngIf="isUrl(displayData)" [href]="displayData">{{displayData}}</a>
    <span *ngIf="!isUrl(displayData)">{{displayData}}</span>
</div>
<div *ngIf="displayType() === 'string[]'">
    <span *ngFor="let i of displayData; let idx=index">
        <span *ngIf="idx>0">, </span>
        <a *ngIf="isUrl(i)" [href]="i">{{i}}</a>
        <span *ngIf="!isUrl(i)">{{i}}</span>
    </span>
</div>
<div *ngIf="displayType() === 'object'">
    <mat-list>
        <mat-list-item *ngFor="let e of displayData | keyvalue: originalOrder">
            <mat-icon mat-list-icon color="accent">{{iconKey(e.key)}}</mat-icon>
            <div mat-line>{{camelCase2display(e.key)}}</div>
            <div mat-line class="list-value">
                <a *ngIf="isUrl(e.value)" [href]="e.value">{{e.value}}</a>
                <span *ngIf="!isUrl(e.value)">{{e.value}}</span>
            </div>
        </mat-list-item>
    </mat-list>
</div>
<div *ngIf="displayType() === 'object[]'" [ngClass]="app.sidenavOpen ? 'table-container-sidebar' : 'table-container'">
    <table class="mat-table">
        <tr class="mat-header-row">
            <th *ngFor="let e of columns" class="mat-header-cell">{{camelCase2display(e)}}
            </th>
        </tr>
        <tr *ngFor="let r of displayData" class="mat-row">
            <td *ngFor="let e of columns" class="mat-cell">
                <a *ngIf="isUrl(r[e])" [href]="r[e]">{{r[e]}}</a>
                <span *ngIf="!isUrl(r[e])">{{r[e]}}</span>
            </td>
        </tr>
    </table>
</div>