<div *ngIf="layout?.widget === 'card' && ifDisplay && !foreachResult && isInRole(layout)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{text()}}</mat-card-title>
        </mat-card-header>
        <mat-card-content [fxLayout]="layout.layout === 'vertical' ? 'column' : 'row wrap'">
            <div *ngFor="let child of layout.children; let i = index" [ngStyle]="layout.style" [ngClass]="layout.class">
                <app-instance #children [value]="value" [layout]="child" [layoutMode]="layoutMode"
                    [layoutName]="layoutName" [layoutPos]="layoutPos + ',' + i" (eventChange)="onEvent($event)">
                </app-instance>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="layout?.widget === 'card' && ifDisplay && foreachResult && isInRole(layout)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{text()}}</mat-card-title>
        </mat-card-header>
        <mat-card-content [fxLayout]="layout.layout === 'vertical' ? 'column' : 'row wrap'">
            <div *ngFor="let v of foreachResult" [ngStyle]="layout.style" [ngClass]="layout.class">
                <app-instance #children [value]="v" [layout]="layout.children[0]" [layoutMode]="layoutMode"
                    [layoutName]="layoutName" [layoutPos]="layoutPos + ',0'" (eventChange)="onEvent($event)">
                </app-instance>
            </div>
        </mat-card-content>
    </mat-card>
</div>