/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons-iconfont/dist/material-design-icons.css';

html, body { 
    margin:0; 
    padding:0;
    background-color: #fafafa;
}