/* tables do not wrap cells and show ... for long entries. also add some padding before the next col */
th,
td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px !important;
    max-width: 30vw;
    /* make sure one column does not dominate the entire table */
}

/* reduce line spacing */
tr.mat-row {
    height: 1.5em !important;
}