<div *ngIf="layout?.widget === 'toolbar' && ifDisplay && !foreachResult">
    <mat-toolbar color="primary" style="height: 3rem;">
        <div *ngFor="let child of layout.children; let i = index"
            [ngStyle]="child.widget === 'spacer' ? {'flex':'1 1 auto'}:{}" [fxHide.lt-md]="child.fxHide==='lt-md'">
            <app-instance #children [value]="value" [layout]="child" [layoutMode]="layoutMode" [layoutName]="layoutName"
                [layoutPos]="layoutPos + ',' + i" (eventChange)="onEvent($event)">
            </app-instance>
        </div>
    </mat-toolbar>
</div>
<div *ngIf="layout?.widget === 'toolbar' && ifDisplay && foreachResult">
    <mat-toolbar color="primary" style="height: 3rem;">
        <div *ngFor="let v of foreachResult"
            [ngStyle]="layout.children[0].widget === 'spacer' ? {'flex':'1 1 auto'}:{}">
            <app-instance #children [value]="v" [layout]="layout.children[0]" [layoutMode]="layoutMode"
                [layoutName]="layoutName" [layoutPos]="layoutPos + ',0'" (eventChange)="onEvent($event)">
            </app-instance>
        </div>
    </mat-toolbar>
</div>