<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="mat-tree-node" [ngClass]="node.highlight ? ['background-highlight'] : []">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled style="height: 1.5em;"></button>
            <a *ngIf="!(node.href || node.display) && externalLink(queryMeta, column, element(node))"
                [href]="link(queryMeta, column, element)[0]">{{element(node)[column]}}
            </a>
            <a *ngIf="!(node.href || node.display) && internalLink(queryMeta, column, element(node))"
                [routerLink]="link(queryMeta, column, element(node))">{{labelId(link(queryMeta, column,
                element(node)))|async}}
            </a>
            <a *ngIf="node.href" [routerLink]="node.href">{{localName(node.name)}} </a>
            <span *ngIf="node.display">{{node.display}}</span>
        </li>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li>
            <div class="mat-tree-node" [ngClass]="node.highlight ? ['background-highlight'] : []">
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <a *ngIf="!(node.href || node.display) && externalLink(queryMeta, column, element(node))"
                    [href]="link(queryMeta, column, element)[0]">{{element(node)[column]}}
                </a>
                <a *ngIf="!(node.href || node.display) && internalLink(queryMeta, column, element(node))"
                    [routerLink]="link(queryMeta, column, element(node))">{{labelId(link(queryMeta, column,
                    element(node)))|async}}
                </a>
                <a *ngIf="node.href" [routerLink]="node.href">{{node.name}} </a>
                <span *ngIf="node.display">{{node.display}}</span>
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
            </ul>
        </li>
    </mat-nested-tree-node>
</mat-tree>