<div [ngClass]="app.sidenavOpen ? 'table-container-sidebar' : 'table-container'">
    <table mat-table [dataSource]="all" matSort (matSortChange)="sortData($event)">
        <ng-container [matColumnDef]="column" *ngFor="let column of columns">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{localName(column)}} </th>
            <td mat-cell *matCellDef="let element">
                <a *ngIf="externalLink(queryMeta, column, element)"
                    [href]="link(queryMeta, column, element)[0]">{{element[column]}}
                </a>
                <a *ngIf="internalLink(queryMeta, column, element)"
                    [routerLink]="link(queryMeta, column, element)">{{labelId(link(queryMeta, column,
                    element))|async}}
                </a>
                <span *ngIf="noLink(queryMeta, column, element)" [matTooltip]="matTooltip(element[column])"
                    (click)="jsonDialog(element[column])">
                    <span *ngIf="isPath(element[column]); else nopath_content">
                        <a
                            [routerLink]="['/resource', element[column].start._dj_resource.database, element[column].start._dj_resource.table, element[column].start._dj_resource.pk[0]]">{{element[column].start._dj_resource.pk[0]}}</a>
                        <span *ngFor="let step of element[column].steps">
                            <span *ngIf="step.edge._dj_outbound"> -{{step.edge._dj_edge}}-&gt; </span>
                            <span *ngIf="!step.edge._dj_outbound"> &lt;-{{step.edge._dj_edge}}- </span>
                            <a
                                [routerLink]="['/resource', step.end._dj_resource.database, step.end._dj_resource.table, step.end._dj_resource.pk[0]]">{{step.end._dj_resource.pk[0]}}</a>
                        </span>
                    </span>
                    <ng-template #nopath_content>
                        <a [routerLink]="toRouterLink(element[column])"
                            *ngIf="typeof(element[column], 'string') && (element[column].startsWith('/page/') || element[column].startsWith('/resource/')); else else_content">{{element[column]}}</a>
                        <ng-template #else_content>{{matTooltip(element[column], true)}}</ng-template>
                    </ng-template>
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

    <mat-paginator *ngIf="pagination" [length]="allLength" [pageSize]="rows" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="page($event)">
    </mat-paginator>

</div>