<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.jboss.tools.quarkus.core.launchConfigurationType">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/dashjoin"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="JAVA_HOME" value="/usr/local/Cellar/openjdk/14.0.1/libexec/openjdk.jdk/Contents/Home"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dashjoin"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${projects:dashjoin}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/Users/uli/NoBackup/dashjoin/dashjoin-aas/query-editor/dashjoin/mvnw"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="compile quarkus:dev"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="/Users/uli/NoBackup/dashjoin/dashjoin-aas/query-editor/dashjoin"/>
    <stringAttribute key="process_factory_id" value="org.jboss.tools.quarkus.core.processFactory"/>
</launchConfiguration>
