name: Dashjoin CI build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Cache node modules
      uses: c-hive/gha-yarn-cache@v2
      with:
        directory: angular

    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'maven'

    - name: Build with Maven
      run: ./mvnw -v && ./mvnw -B package --file pom-ci.xml -Drevision=1.0.0-$(git rev-parse --short $GITHUB_SHA)
